{{template "base" .}}

{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>
    <p>A simple web application written in Go. It is a follow along project to the superb book "Let's Go" by Alex Edwards.
    Be sure to <a href='https://lets-go.alexedwards.net/' target='_blank'>check it out!</a></p>
{{end}}