{{template "base" .}}

{{define "title"}}Change Password{{end}}

{{define "main"}}
<form action="/user/change-password" method="POST" novalidate>
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    {{with .Form}}
        <div>
            <label>Current Password:</label>
            {{with .Errors.GetField "currentPassword"}}
                <div class='error'>{{.}}</div>
            {{end}}
            <input type='password' name='currentPassword'>
        </div>
        <div>
            <label>New Password:</label>
            {{with .Errors.GetField "newPassword"}}
                <div class='error'>{{.}}</div>
            {{end}}
            <input type='password' name='newPassword'>
        </div>
        <div>
            <label>Confirm Password:</label>
            {{with .Errors.GetField "newPasswordConfirmation"}}
                <div class='error'>{{.}}</div>
            {{end}}
            <input type='password' name='newPasswordConfirmation'>
        </div>
        <div>
            <input type='submit' value='Change'>
        </div>
    {{end}}
</form>
{{end}}